:root {
    --defaultcolor:black
  }

body{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
   
    flex-direction: column;
}
.game-board{
    width: 600px;
    height: 600px;
    background-color: #acacac;
    display: grid;
    

}
.smallbox{
    border: 1px solid rgb(0, 0, 0);
}
.red{
    background-color: var(--defaultcolor);
    
}

.nogrid{
    border-top:transparent;
    border-bottom: transparent;
    border-right: transparent;
    border-left: transparent;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.gamecontrols{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}
.foote{
    margin-top: auto;
}