:root {
    --defaultcolor:black
  }

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
   
    flex-direction: column;
}
.game-board{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    background-color: #acacac;
    display: grid;
}
.dogrid{
    border-top: 0.1px solid rgb(0, 0, 0);
    border-bottom: 0.1px solid rgb(0, 0, 0);
    border-right: 0.1px solid rgb(0, 0, 0);
    border-left: 0.1px solid rgb(0, 0, 0);
    user-select: none;

}
.red{
    background-color: var(--defaultcolor);
    
}

.smallbox{
    border: none;
    border-top:0px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    user-select: none;
    outline: none;
}
.main{
    display: flex;
    align-items: center;
}
.gamecontrols{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: gray;
    justify-content: center;
    align-items: center;
    width: 20vw;
    padding-left: 50px;
    height: 100vh;


}
.footer{

    bottom: 0;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    
    
}
p{
text-align: center;
}



 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }





  #clear {
    padding: 10px 15px;
    background-color: rgb(255, 255, 255);
    border-radius:30px;
  }
  
  #clear:hover {
    color: rgb(255, 255, 255);
    background-color:red;
    box-shadow: 0 3px 4px rgb(119, 0, 0);
  }
  
  #clear:active {
    transform: translateY(2px);
  }





  .rangeslide {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    border-radius: 5px;  
    background: #b1b1b1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .rangeslide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #494949;
    cursor: pointer;
  }
  .rangeslide::-webkit-slider-thumb:hover {

    background: rgb(255, 255, 255);

  }
  

  .rangeslide::-webkit-scrollbar-track {
    background: #000000;
  }

  
  input[type='range']::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: #434343;
    box-shadow: -150px 0 0 137.5px rgb(0, 119, 255);;
    border-radius: 50px;
  }
  input[type='range'] {
    overflow: hidden;
  
  }

  input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
    height: 50px;
    padding: 0;
    width: 50px;
  }
  .colorpick{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: white;
    border-radius: 200px;
    margin-top: 80px;
  }
  .colorpick>p{
    font-weight: 900;
  }
  .gamecontrols>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  }